# Ignore virtual environment
.venv/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore environment variables and keys
.env

# Ignore output files and datasets
outputs/
data/

# Ignore system/editor junk
.DS_Store
*.log

# Ignore current status
ref_mat/current_status.md

.hypothesis/
Ref_Material/
